{% extends "model-page.html" %}

{% block content %}
<div class="text-center">
    <h2>Agendamentos</h2>
    <br>
    <a href="evento/">
        <button class="btn btn-primary" type="button">Novo Evento</button>
    </a>
    <br><br>
    <ul class="list-group list-group-flush" style="font-size: 18px">
        {% for evento in eventos %}
            <li class="list-group-item" >
                <div style={%if evento.get_evento_atrasado%}
                            "color:red"
                            {%endif%}
                            {%if evento.get_evento_proximo%}
                            "color:orange"
                            {%endif%}>
                    {{ evento.titulo }} - {{ evento.get_data_evento }}
                    (<a href="evento/?id={{evento.id}}">Editar</a>|
                     <a href="evento/delete/{{evento.id}}">Excluir</a>)
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}